html {
    height: 100%;
}

body {
    margin: 0 0 0 0;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
    width: 40%;
    align-self: center;
}

/* burger menu */

.burger-menu {
    display: none;
    cursor: pointer;
    margin-left: 10px;
    font-size: 1.5em;
    color: #937F7A;
}

.burger-menu i {
    transition: transform 0.5s ease; /* Apply transition to the default state */
}

.burger-menu i.rotate {
    transform: rotate(90deg); /* Rotate the icon 90 degrees */
    transition: transform 0.5s ease; /* Smooth transition */
}

.burger-menu span {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    background-color: #937F7A;
    border-radius: 2px;
}

/* end burger menu */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.strip {
    background-color: white;
    width: 100%;
}

.top-strip {
    height: 10px;
}

.logo-strip {
    position: relative;
    text-align: center;
}

.behind-logo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 9.8em;
    background-color: #474342;
    z-index: 1;
    margin-top: 1.95em;
}

.bottom-strip {
    padding: 10px 0;
    margin-top: 10px;
}

.bottom-strip ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.bottom-strip ul li {
    display: inline;
    margin-right: 10px;
    margin-left: 10px;
}

.bottom-strip ul li a {
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.bottom-strip ul li a:hover {
    color: #a78f8a;
}

img#logo {
    max-height: 16em;
    position: relative;
    z-index: 2;
}

/* Start footer elements */

footer {
    background-color: #474342; 
    color: #fff; 
    text-align: center;
    padding: 20px;
}

.social-links a {
    margin: 0 10px;
    color: #fff;
    text-decoration: none;
}

.social-links {
    font-size: 2em;
    margin-bottom: 30px;
}

.profile-picture img {
    width: 100px; 
    height: 100px; 
    border-radius: 50%;
    margin-bottom: 10px;
}

button.contact {
    background-color: transparent;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid white;

}

button.contact:hover {
    background-color: white;
    color: #474342;
}

div.contact-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.contact-subscribe form {
    display: flex;
    max-width: 500px;
    margin-bottom: 20px;
}
  
.contact-subscribe input[type="email"],
.contact-subscribe button.subscribe {
    height: 40px;
    border: none;
    outline: none;
    border: 1px solid transparent;
}
  
.contact-subscribe input[type="email"] {
    border-top-left-radius: 5px; 
    border-bottom-left-radius: 5px;
    padding: 0 10px;
    flex: 1;
    height: 38px;
    width: 200px;
}

.contact-subscribe input[type="email"]:hover {
    border: 1px solid #937F7A;
}

.contact-subscribe button.subscribe:hover {
    background-color: #7b6a66;
    cursor: pointer;
}
  
.contact-subscribe button.subscribe {
border-top-right-radius: 5px; 
border-bottom-right-radius: 5px; 
background-color: #937F7A; 
color: white; 
padding: 0 20px;
}
  
.contact-subscribe input[type="email"]:focus,
.contact-subscribe button.subscribe:focus {
outline: none;
}

.profile-area {
    margin-bottom: 35px;
}

div.footer-bottom-strip {
    background-color: white;
    padding: 20px 0;
}

/* End footer elements */

/* Begin available works content */

h1.available-works-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 20px;
    letter-spacing: 0.1em;
    color: #474342;
}

h2.available-works-subtitle {
    font-size: 1.5em;
    text-align: center;
    font-weight: 400;
    color: #937F7A;
}

p.available-works-description {
    font-size: 1em;
    text-align: center;
    margin-bottom: 20px;
    /* increase line spacing */
    line-height: 1.5;
}

/* End available works content */

@media (max-width: 768px) { /* Adjusts for devices with width up to 768px */
    
    .content {
        width: 80%;
    }
    
    img#logo {
        max-height: 8em;
        position: relative;
        z-index: 2;
    }
    
    .behind-logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4.9em;
        background-color: #474342;
        z-index: 1;
        margin-top: 0.95em;
    }
    
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .profile-picture img {
        width: 80px;
        height: 80px;
    }
    
    h1.available-works-title {
        font-size: 2em;
        margin-bottom: 10px;
        margin-top: 0px;
    }
    
    h2.available-works-subtitle {
        font-size: 1.2em;
    }
    
    p.available-works-description {
        font-size: 0.8em;
    }
    
    .burger-menu {
        display: block;
    }

    nav.strip.bottom-strip ul {
        display: none; 
        flex-direction: column; 
    }

    nav.strip.bottom-strip ul.active {
        display: flex; 
    }
    
    nav.strip.bottom-strip ul li {
        display: block; 
        margin: 5px 0; 
    }

    nav.bottom-strip {
        display: none;
    }
    
    /* When active, display the bottom-strip */
    nav.bottom-strip.active {
        display: block;
        margin-bottom: 20px;
    }
    
}