{% extends "base.html" %}
{% block content %}
<section id="about">
    <h2 class=about-title>Amanda Ford</h2>
    <p class="about-contents">
    Amanda Ford is a contemporary artist known for her use of colour and texture
    to influence her paintings. She uses various mediums including acrylic,
    watercolour, pastels and gouache. Her background includes studies in Design
    and Colour, and she ran her own Colour Consulting business for several years.
    Amanda’s love of colour, particularly its ability to calm and influence mood, is
    starkly evident in her work where she explores all its many subtleties.
    <br><br> 
    Amanda lived in Sydney for 40 years and since moving to Adelaide in 2018 has
    been able to devote more time to her artwork. She has exhibited at various
    galleries throughout NSW &amp; South Australia. Her most recent highlight was her
    nomination as a finalist in the Kennedy Art Prize in 2024.
    </p>
    <div class="about-image-container">
        <img class="about-profile-image" src="{{ url_for('static', filename='assets/about-picture-all.png') }}" alt="Profile Picture" class="profile-image">
    </div>
</section>
{% endblock %}