{% extends "base.html" %}
{% block content %}
<section id="available-works">
    <div class="hero">
        <h1 class="available-works-title">AVAILABLE WORKS</h1>
        <h2 class="available-works-subtitle">Slightly longer blurb about artworks and what they depict etc... this should span about two lines</h2>
        <p class="available-works-description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla volutpat consequat tellus. Proin dignissim sed eros sit amet pretium. 
            Cras volutpat fringilla elit, non varius massa maximus id. Orci varius natoque penatibus et magnis dis parturient montes, nascetur 
            ridiculus mus. Donec ac urna sit amet nisl mollis ultrices. Nam a turpis massa. Aenean pulvinar vel odio eget vulputate. Morbi id 
            aliquet mauris.
        </p>
    </div>
</section>
{% endblock %}