{% extends "base.html" %}
{% block content %}
<section id="portfolio">
    <div class="spacer"></div>
    <div class="grid-wrapper">
        <div class="grid">
            {% for image in images %}
                <div class="grid-item">
                    <img src="{{ url_for('static', filename=image) }}" alt="Painting {{ loop.index }}">
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"></script>
    <script>
        window.onload = function() {
            var grid = document.querySelector('.grid');
            var masonry = new Masonry(grid, {
                itemSelector: '.grid-item',
                columnWidth: 300,
                gutter: 10,
                fitWidth: true
            });
        };
    </script>
</section>
{% endblock %}