{% extends "base.html" %}
{% block content %}
<section id="posts">
    <script>
        // Remove referral link from Juicer embed
        function clean() {
            const referralElement = document.querySelector('h1.referral');
            if (referralElement) {
                referralElement.remove();
            }
        }
    </script>
    <div class="margin-top"></div>
    <script type="text/javascript" src="https://www.juicer.io/embed/fordamanda/embed-code.js?after=clean()&per=10" async defer></script>

</section>
{% endblock %}